.Button {
  width: 100px;
  height: 37.5px;
  outline: none;
  border: 0;
  border-radius: 3px;
  color: white;
}
/* variant === primary */
.ButtonPrimary {
  background-color: #22baa0;
}
/* variant === sucess */
.ButtonSucess {
  background-color: green;
}
/* variant  === error  */
.ButtonError {
  background-color: #ff0000;
}

.pointer {
  cursor: pointer;
}
